<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>Novo Produto</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
</head>
<body>

  <nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand"  href="index.html">Home</a>
        <!-- <a class="navbar-brand" href="novo.html">Criar Novo</a> -->
      </div>
    </div>
  </nav>

	<div class="container">
    	<br>
    	<h3>Novo Produto</h3>
    		<form action="#" th:action="@{/save}" th:object="${product}" method="post">
				<div class="row">
					<div class="form-group col-md-8">
						<label for="name" class="col-form-label">Name</label> <input
							type="text" th:field="*{nome}" class="form-control" id="nome"
							placeholder="Nome">
					</div>
					<div class="form-group col-md-8">
						<label for="brand" class="col-form-label">Brand</label> <input
							type="text" th:field="*{brand}" class="form-control" id="brand"
							placeholder="Brand">
					</div>
					<div class="form-group col-md-8">
						<label for="madein" class="col-form-label">Made in</label> <input
							type="text" th:field="*{madein}" class="form-control"
							id="madein" placeholder="Made in">
					</div>
            		<div class="form-group col-md-8">
						<label for="price" class="col-form-label">Price</label> <input
							type="text" th:field="*{price}" class="form-control"
							id="price" placeholder="Price"> 
					</div>
            		<div class="col-md-6">
						<input type="submit" class="btn btn-primary" value="Salvar">
					</div>
					<div class="form-group col-md-8"></div>
				</div>
				 <!-- <table>
					<tr>
						<td>Nome</td>
						<td><input type="text" th:field="*{nome}"/></td>
					</tr>
					<tr>
						<td>Marca</td>
						<td><input type="text" th:field="*{brand}"/></td>
					</tr>
					<tr>
						<td>Made in</td>
						<td><input type="text" th:field="*{madein}"/></td>
					</tr>
					<tr>
						<td>Preço</td>
						<td><input type="text" th:field="*{price}"/></td>
					</tr>
					<tr>
						<td colspan="2"><input type="submit" class="btn btn-primary" value="Salvar"></td>
					</tr>
				</table>-->
			</form>
	</div>
  
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js">       </script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.js"></script>
  
</body>
</html>